@font-face {
  font-family: akira;
  src: url(../font/akira-expanded.otf);
}

@font-face {
  font-family: gavency;
  src: url(../font/gavency_regular.otf);
}

@font-face {
  font-family: rayken;
  src: url(../font/rayken.otf);
}


:root {
  --orange: #ee5625;
  // --white: #dbdbdb;
  //var(--orange)
  --black: #1c1c1c;
  // --white: #dbdbdb;
  //var(--black)
  // --white: #e9e4de;
  --white: #f0ece7;
  //var(--white)
}

* {
  box-sizing: border-box;
  cursor: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

html {
  font-size: 1.4em;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}





//Cursor
.inner-cursor {
  display: none;
  @media screen and (min-width: 1000px) {
    display: block;
    position: fixed;
    left: 10px;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: width 0.5s, height 0.5s ease-in-out;
  }
}

.outer-cursor {
  display: none;
  @media screen and (min-width: 1000px) {
    display: block;
    position: fixed;
    left: 10px;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--white);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: 0.15s;
  }
}
.grow {
  width: 15px;
  height: 15px;
  transition: width 0.5s, height 0.5s ease-in-out;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  font-family: "Encode Sans Expanded", sans-serif;
  font-family: rayken;
  cursor: url("../images/mouse-8.png");

  &::-webkit-scrollbar {
    width: 0.2em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--black);
    outline: 1px solid var(--black);
  }
}

.wrapper {
  padding: 0px 5%;
}

header {
  font-weight: normal;
  font-size: 0.8em;

  a {
    text-decoration: none;
    color: var(--black);
    margin: auto 0;
  }
}

main {
  @media screen and (min-width: 1000px) {
    padding: 0px 0px 0px 8%;
  }
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  &:hover {
    text-decoration: underline;
  }
  &:hover ~ .cursor-outer {
    width: 90px;
    height: 90px;
    background: var(--black);
  }
}

// Header and Navigation
.nav {
  width: 100%;
  padding-top: 2em;

  .fa-times {
    &:before {
      content: "\f00d";
    }
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  .fa-bars {
    &:before {
      content: "\f0c9";
    }
  }
}

.logo {
  font-size: 1.4em;
  margin: 0;
  color: var(--orange);
  font-family: gavency;
  // position: fixed;
}

.logoimg {
  margin: 0;
  width: 156px;
}

.nav-links {
  display: flex;
  align-items: baseline;
}

nav {
  ul {
    padding: 0;
    margin-top: 0;
    background-color: var(--orange);
    position: relative;
    font-size: 2em;
    height: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 780px) {
      text-decoration: none;
      padding: 15px 0;
      margin: 0;
      background-color: #0000;
      font-size: 1.25rem;
      height: auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
    }

    li {
      position: relative;
      font-size: 1.2em;
      margin: 0px 10px;
    }
  }

  position: fixed;
  background-color: #00000010;
  right: -100vh;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 999;
  transition: 1.2s ease-in-out;

  @media screen and (min-width: 780px) {
    position: static;
    background-color: #0000;
    height: auto;
    width: auto;
    transition: none;
  }

  li {
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: var(--white);
    display: block;
    line-height: 2;
    font-weight: 400;
    text-align: center;

    @media screen and (min-width: 780px) {
      color: var(--orange);
      font-size: 0.5rem;
    }
  }

  .fa-times {
    position: absolute;
    z-index: 900;
    top: 0;
    right: 2.75%;
    padding: 40px 22px;
    color: var(--white);
  }
}

nav.open {
  right: 0;
  z-index: 100;
  transition: 1.2s ease-in-out;
}

header {
  .fas {
    margin: auto 0;

    @media screen and (min-width: 780px) {
      display: none;
    }

    .fa-bars {
      font-size: 2.2em;
      padding-right: 5px;
      color: var(--orange);
    }
  }
}

i {
  color: var(--orange);
  font-size: 1.4em;
}

//scrolldown
.backto-top {
  height: 100vh;
  display: none;
  align-items: center;
  position: fixed;
  left: 3%;
  top: 0;
  z-index: 10;
  @media screen and (min-width: 1000px) {
    display: flex;
  }
  a {
    color: var(--black);
    text-decoration: none;
    h5 {
      transform: rotate(-90deg);
      margin: 0;
      cursor: pointer;
      font-size: 10px;
      position: relative;
      font-weight: normal;
      -o-transition: 0.5s ease-in-out;
      -ms-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.3s ease-in-out;
      &:hover {
        color: #ee5625;
        -o-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        transform: rotate(-90deg) scale(1.1);
        transition: 0.3s ease-in-out;
      }
    }
  }
}

//Hero
.hero {
  padding-top: 20vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 780px) {
      margin-top: 1em;
    }

    @media screen and (min-width: 1000px) {
      flex-direction: row-reverse;
    }
    .left-hero {
      display: flex;
      flex-direction: column;
      .hero-text {
        margin: 1em 0em 0em 0em;
        font-size: 8vw;
        font-family: rayken;
        line-height: 1;
        z-index: 2;
        @media screen and (min-width: 780px) {
          font-size: 8vw;
        }

        @media screen and (min-width: 1000px) {
          font-size: 4.5vw;
          margin: auto 0px auto 0;
        }
      }
      a {
        display: none;
        margin-right: auto;
        transition: 0.3s ease-in-out;
        @media screen and (min-width: 1000px) {
          display: block;
        }
        &:hover {
          transform: scale(1.3);
          transition: 0.3s ease-in-out;
        }
        .hero-contact-button {
          width: 100%;
          animation: rotation 15s infinite linear;
          @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
        }
      }
    }

    .me {
      width: 70vw;
      z-index: -1;
      display: block;
      margin-left: auto;
      position: relative;

      &::after {
        background-color: rgba(238, 87, 37, 0.4);
      }

      @media screen and (min-width: 780px) {
        width: 50vw;
      }

      @media screen and (min-width: 1000px) {
        width: 30vw;
        height: 30vw;
        z-index: -5;
      }
    }

    #rotate {
      margin-top: 2em;
      width: 25vw;
      display: block;
      margin-left: auto;
      max-width: 250px;

      @media screen and (min-width: 780px) {
        max-width: 15vw;
      }

      @media screen and (min-width: 1000px) {
        margin: -150px -80px 2em 0;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    padding-top: 3vh;
  }
}

// Works Section
.section-works {
  font-weight: 700;
  margin: 5em 0em 5em 0em;
  padding-top: 5vh;

  a {
    color: var(--text-color);
    text-decoration: none;
  }
}

.work-items {
  margin: 1em 0;
  position: relative;
  p {
    padding: 1em 0;
    font-size: 1em;
  }

  a {
    transition: 0.1s ease-in-out;
    &:hover {
      color: var(--orange);
      transition: 0.1s ease-in-out;
    }
    p {
      position: relative;
      overflow: hidden;
      transition: 0.3s ease-in-out;
      &:hover {
        padding-left: 1%;
        transition: 0.3s ease-in-out;
      }

      @media screen and (min-width: 780px) {
        font-size: 3vw;
      }
    }
  }
}

.work {
  display: flex;
  justify-content: space-between;
  position: relative;

  img {
    width: 40%;
    height: 40%;
    margin: auto;
    border: var(--orange) 5px solid;
    border-radius: 10px;
    margin-right: 1em;
    opacity: 0;
    transition: 1s ease-out;
    z-index: 99;
    display: none;

    &:hover {
      opacity: 100;
      transition: 500ms ease-out;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #1f1f27;
}

.work {
  &-items {
    position: relative;
  }

  &-item {
    cursor: pointer;
  }

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -5;
    opacity: 100%;
  }

  &-img-wrap {
    width: 40vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    padding-bottom: 25vw;
    z-index: 5;
    opacity: 10 0%;
  }
}

.about {
  padding-top: 15vh;
  max-width: 100vw;
  margin: 10em 0em 0em 0em;
  display: block;
    .about-top-text {
      font-size: 2em;
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--orange);
        transition: 0.3s ease-in-out;
      }
    }
    div {
      display: grid;
      grid-gap: 1em;
      @media screen and (min-width: 780px) {
        margin-top: 2em;
      }
      .about-text {
        margin: 1em 0em 0em 0em;
        font-family: gavency;
        line-height: 1;
        z-index: 2;
        vertical-align: baseline;
        span {
          font-weight: 200;
          transition: 0.1s ease-in-out;
          &:hover {
            color: var(--orange);
            transition: 0.1s ease-in-out;
          }
        }
        @media screen and (min-width: 1000px) {
          margin: 0 0 auto 0;
          max-width: 60%;
        }
    }
  }

  @media screen and (min-width: 1000px) {
    padding-top: 20vh;
  }
}

.contact {
  padding-top: 25vh;
  max-width: 100vw;
  margin: 10em 0em 0em 0em;
  a {
    text-decoration: none;
    color: var(--black);
    h1 {
      font-size: 12vw;
      line-height: 0.8;
      @media screen and (min-width: 780px) {
        font-size: 10vw;
      }
      @media screen and (min-width: 1000px) {
        font-size: 7.4vw;
      }
    }
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: auto;
  padding: 15px;
  margin-top: 10em;
  @media screen and (min-width: 620px) {
    flex-direction: row;
    text-align: left;
    min-height: 8em;
  }
  .foot-content {
    font-size: 12px;
    line-height: 1.5;
  }
  .social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    li {
      i {
        padding: 0 20px;
        color: var(--orange);
      }
    }
  }
}
